body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    margin-top: -1%;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    /*border: none;*/
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 20%;
}

div.tab:nth-child(1), div.tab:nth-child(2){

}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}

#player-names{
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    display: none;
}

#player-names li{
    width: 20%;
    cursor: pointer;
}

.player-title{
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}
.player-text{
    font-family: Lato;
    font-size: 15px;
}

.brushtext{
    text-anchor:middle;
    font-size: 12px;
    fill: #565656;
    stroke-width: 0.1px;
    /*stroke: #e5e5e5;*/
}


.brush .selection {
    fill-opacity: .5;
}

.yearBar{
    fill: blue;
    stroke : white;
    stroke-width: 2;
}
#performance_per_years {
    margin-top: 10%;
}
#player_attributes {
    margin-bottom: 7%;
}
.select2-container{
    width: 200px !important;
}
#attribute-search{
    height: 29px;
    border-radius: 4px;
    margin-left: 1%;
}
.button{
    height: 29px;
    border-radius: 4px;
}
#selected-players li{
    width: 16%;
    cursor: pointer;
    margin-top: 1%;
    font-size: 13px;
}
.select2-selection__placeholder{
    font-size: 15px;
}
body{
    /*background-image: url("/figs/background.jpg");*/
}
.playerName{
    text-anchor: middle;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
a{
    text-decoration: none !important;
    color: black;
}